# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

#### **Objectives**
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular Data Science Tools
- Evaluate arithmetic expressions in Python

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. C o C++
6. Scala

#### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Scikit-learn
5. Matplotlib
6. TensorFlow

|Data Science Tools|
|---|
|Rstudio|
|Apache Spark|
|Tensor Flow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [15]:
200/60

# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## **Author:** 
---
Ángel Fernández Mora